<% include ../partials/header %>

<% if(currentGame) { %>
    <section class="section-current-scores">
        <img src="img/teams/<%= currentGame[0].logo %>" alt="<%= currentGame[0].team %>" class="team-a">
        <div class="scores">
            <h3><span class="score-a"><%= currentGame[0].doelpunten %></span> - <span class="score-b"><%= currentGame[1].doelpunten %></span></h3>
            <h4 class="scores-live">Live</h4>
        </div>
        <img src="/img/teams/<%= currentGame[1].logo %>" alt="<%= currentGame[1].team %>" class="team-b">
    </section>
<% } %>

<% if(teams) { %>
    <h1>Welke wedstrijd wil je volgen?</h1>
    <section class="team-section">

        <% teams.forEach(function(team) { %>
            <a tabindex="0" href="team/<%= team.link %>" class="team-section__club">
                <div class="club__img">
                    <img src="/img/teams/<%= team.logo %>" alt="">
                </div>
                <h3><%= team.team %></h3>
            </a>
        <% }) %>

    </section>
<% } %>

<% include ../partials/footer %>